* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #b0aece;
  font-weight: bolder;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}

.container {
  height: 99vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container .game-name {
  font-size: 6vmin;
  position: absolute;
  top: 20px;
}

.game {
  width: 70vmin;
  height: 70vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 10px;
}

.box {
  height: 20vmin;
  width: 20vmin;
  border: none;
  border-radius: 8px;
  background-color: #7f5e9c;
  font-size: 3rem;
  color: #081813;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
  outline: none;
}

#reset-btn {
  padding: 1vmax;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  background-color: #c91e00;
  font-size: 1rem;
  color: #eff0ef;
  cursor: pointer;
  outline: none;
  margin-top:40px;
}

.box:hover {
  background-color: #682f99;
}

.winner-container {
  z-index: 1;
  background-color: #dad6df;
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.new-btn {
  position: absolute;
  bottom: 100px;
  padding: 1vmax;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  background-color: #8643d6;
  font-size: 1rem;
  color: #081813;
  cursor: pointer;
  outline: none;
  color: white;
}

.hide {
  display: none;
}
